# Grav Specific
.htaccess
.sass-cache
composer.lock
cache/*
assets/*
backup/*
logs/*
images/*
#user/data/*
user/accounts/*
user/pages
user/pages/*
user/plugins
user/plugins/*
vendor
vendor/*
webserver-configs
webserver-configs/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
.RData
.Rhistory

# Jun's..
*~
.*~