# Grav Specific
.htaccess
.sass-cache
composer.lock
cache/*
assets/*
backup/*
logs/*
#images/*
#user/data/*
user/accounts/*
user/pages
user/pages/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Jun's..
*~
.*~